.angular-google-map-container {
  height: 400px;
}

.infoWindow {
  width: 250px;
}

.additonal-chapter-btn-green {
  width: 100%;
  background-color: #2D8633;
  margin-top: 5px;
}

.additonal-chapter-btn-red {
  width: 100%;
  background-color: #AA3939;
  margin-top: 9px;
}

.region-dd {
  margin-bottom: 9px;
}

.chapter-dd {
  margin-bottom: 5px;
}

#manage-additional-chapters {
  margin: auto;
  width: 80%;
}

#chapter-status-modal {
  margin: auto;
  width: 95%;
}

.logContainer {
  height: 250px;
  width: 100%;
  max-width: 550px;
  padding: 3px;
  overflow-y: auto;
  overflow-x: hidden;
}