     /* Added for DATE PICKER */
     
     .full button span {
         background-color: limegreen;
         border-radius: 32px;
         color: black;
     }
     
     .partially button span {
         background-color: orange;
         border-radius: 32px;
         color: black;
     }
     /* 
* Expense Creation form fields
*/
     
     .exp_format {
         display: inline-block;
         margin-left: 10px;
         max-width: 180px;
         width: 65%;
         float: left;
     }
     
     .exp_format1 {
         display: inline-block;
         margin-left: 10px;
         min-width: 200px;
         max-width: 700px;
         width: 75%;
         float: left;
     }
     
     .exp_format2 {
         display: inline-block;
         margin-left: 10px;
         max-width: 120px;
         width: 66%;
         float: left;
     }
     
     .exp_num {
         display: inline-block;
         margin-left: 10px;
         max-width: 40px;
         width: 63%;
         float: left;
     }
     
     .table_head {
         background: #2980b9;
         font-size: 14px !important;
     }
     
     .table_head {
         background: #fafafa;
         font-size: 14px;
     }
     
     .color-green {
         color: green;
         font-size: 16px;
     }
     
     .color-blue {
         color: blue;
     }
     
     .color-red {
         color: red;
         font-size: 16px;
     }
     
     .color-orange {
         color: orange;
         font-size: 16px;
     }
     
     .hoverme:hover {
         background-color: yellow;
     }
     
     .clicked {
         background-color: green;
     }
     
     .format_button_sm {
         width: 25%;
         margin: 10px;
     }
     
     .format_button_small {
         width: 20%;
         margin: 10px;
     }
     
     .format_button_med {
         width: 40%;
         margin: 10px;
         font-size: 16px;
     }
     
     .format_button_mm {
         width: 90%;
         margin: 10px;
     }
     
     .format_button_orig {
         width: 100%;
         margin: 10px;
     }
     
     .panel-body-exp {
         padding: 15px;
     }
     
     .expense_pad {
         padding-left: 10px;
         padding-top: 6px;
     }
     
     .expense_pad1 {
         padding-left: 30px;
         padding-top: 10px;
         padding-bottom: 10px;
     }
     
     .expense_currency {
         text-align: right;
         padding-right: 10px;
     }
     
     input.currency {
         text-align: right;
         padding-right: 15px;
     }
     
     .input-group .form-control {
         float: none;
     }
     
     .input-group .input-buttons {
         position: relative;
         z-index: 3;
     }
     
     .pastdue {
         background-color: red !important;
     }
     
     input:invalid {
         border: 2px solid red;
     }
     
     input:valid {
         border: 2px solid green;
     }
     
     .field-feedback {
         color: #a94442;
         font-weight: bold;
     }
     
     .file-browser {
         visibility: hidden;
     }
     /* 
 To remove the “No file chosen” tooltip from a file input
 */
     
     .input[type='file'] {
         color: transparent;
     }
     
     .radiofieldgroup {
         float: left;
         width: auto;
         margin-left: 3em;
         font-size: 20px;
         padding-top: 5px;
         padding-bottom: 5px;
     }
     
     .imagedisplay {
         padding: 20px;
         width: 300px;
         height: 200px;
     }
     
     .labeldisplay {
         padding-top: 6px;
         padding-bottom: 6px;
         padding-left: 25px;
     }
     
     .btnalign {
         padding-left: 10px;
         padding-right: 10px;
         padding-top: 6px;
         padding-bottom: 6px;
     }
     
     .btnalignmore {
         padding-left: 60px;
     }
     
     .divhide {
         display: none;
     }
     
     .btninfo {
         font-size: 16px;
         font-weight: bold;
         color: white;
         background-color: orange;
         border-radius: 10px;
         padding-left: 5px;
         padding-top: 6px;
     }
     
     .inputtextpad {
         padding-bottom: 6px;
         padding-top: 6px;
     }
     /* #OtherExpensebtn {
     visibility: hidden;
 }*/
     
     .canvas {
         background-color: #f3f3f3;
         -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
         -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
         box-shadow: 3px 3px 3px 0 #e3e3e3;
         border: 1px solid #c3c3c3;
         height: 100px;
         margin: 6px 0 0 6px;
     }
     
     td.highlight {
         font-weight: bold;
         color: red;
     }
     
     .swaltdl {
         float: left;
     }
     
     .swaltdr {
         float: right;
     }
     
     .blinkinfo {
         -webkit-animation: glowing 1500ms infinite;
         -moz-animation: glowing 1500ms infinite;
         -o-animation: glowing 1500ms infinite;
         animation: glowing 1500ms infinite;
         background-color: #004A7F;
         -webkit-border-radius: 10px;
         border-radius: 10px;
         border: none;
         color: #FFFFFF;
         cursor: pointer;
         display: inline-block;
         font-family: Arial;
         padding: 5px 10px;
         text-align: center;
         text-decoration: none;
     }
     
     @-webkit-keyframes glowing {
         0% {
             background-color: #b21a00;
             -webkit-box-shadow: 0 0 3px #b21a00;
         }
         50% {
             background-color: #FF0000;
             -webkit-box-shadow: 0 0 40px #FF0000;
         }
         100% {
             background-color: #b21a00;
             -webkit-box-shadow: 0 0 3px #b21a00;
         }
     }
     
     @-moz-keyframes glowing {
         0% {
             background-color: #b21a00;
             -moz-box-shadow: 0 0 3px #b21a00;
         }
         50% {
             background-color: #FF0000;
             -moz-box-shadow: 0 0 40px #FF0000;
         }
         100% {
             background-color: #b21a00;
             -moz-box-shadow: 0 0 3px #b21a00;
         }
     }
     
     @-o-keyframes glowing {
         0% {
             background-color: #b21a00;
             box-shadow: 0 0 3px #b21a00;
         }
         50% {
             background-color: #FF0000;
             box-shadow: 0 0 40px #FF0000;
         }
         100% {
             background-color: #b21a00;
             box-shadow: 0 0 3px #b21a00;
         }
     }
     
     @keyframes glowing {
         0% {
             background-color: #b21a00;
             box-shadow: 0 0 3px #b21a00;
         }
         50% {
             background-color: #FF0000;
             box-shadow: 0 0 40px #FF0000;
         }
         100% {
             background-color: #b21a00;
             box-shadow: 0 0 3px #b21a00;
         }
     }
     /*Red -- #B20000
*/
     
     .popoverdash {
         position: absolute;
         z-index: 100;
     }
     
     @media (min-width: 400px) {
         .modal-dash {
             width: 400px;
             height: 400px;
         }
     }
     
     form.tab-form-demo .tab-pane {
         margin: 20px 20px;
         height: 600px;
         width: 600px;
     }