<!DOCTYPE html>
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Change Password</h4>
</div>
<!-- end modal-header -->
<div class="modal-body">
  <form name="cpForm" class="form-horizontal" ng-submit="postUser()" novalidate>
    <fieldset>

      <!-- Text - Pass 1 -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pass1">New Password*</label>
        <div class="col-md-7">
          <input id="pass1" name="pass1" type="password" placeholder="Password" pattern="^([a-zA-Z0-9@*#!]{6,20})$" class="form-control input-md" ng-model="passwordOne" ng-required="true">
          <p ng-show="!cpForm.pass1.$valid && !cpForm.pass1.$pristine" class="help-block">Password must contain 6-20 characters, allowable characters a-z A-Z 0-9 @ * # !</p>
        </div>
      </div>

      <!-- Text - Pass 2 -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pass2">Re-Enter*</label>
        <div class="col-md-7">
          <input id="pass2" name="pass2" type="password" placeholder="Password" pattern="^([a-zA-Z0-9@*#!]{6,20})$" class="form-control input-md" ng-model="passwordTwo" ng-required="true">
          <p ng-show="!cpForm.pass2.$valid && !cpForm.pass2.$pristine" class="help-block">Password must contain 6-20 characters, allowable characters a-z A-Z 0-9 @ * # !</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="edisplay"></label>
        <div>
            <p ng-show="!(passwordOne == passwordTwo) && !cpForm.pass1.$pristine && !cpForm.pass2.$pristine" class="help-block">Passwords do not match</p>
        </div>
      </div>

      <!-- Button - Submit/Cancel -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-7">
          <button id="submit" name="submit" class="btn btn-primary" ng-disabled="!(cpForm.pass1.$valid && cpForm.pass2.$valid) || !(passwordOne == passwordTwo)" ng-click="changePassword(passwordTwo)">Submit</button>
          <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
<!-- end modal body -->