<!DOCTYPE html>
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add New Chapter</h4>
</div>
<!-- end modal-header -->
<div class="modal-body">
  <form name="chapterForm" ng-submit="postChapter()" class="form-horizontal" novalidate>
    <fieldset>
      <!-- Text - Chapter Name -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Chapter Name*</label>
        <div class="col-md-7">
          <input id="name" name="name" type="text" class="form-control input-md" ng-model="newChapter.name" ng-required="true">
          <p ng-show="chapterForm.name.$invalid && !chapterForm.name.$pristine" class="help-block">Enter a valid chapter name.</p>
        </div>
      </div>
      <!-- Text - Manager Name -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="lead">Assigned Chapter Manager*</label>
        <div class="col-md-7">
          <input id="manager" name="manager" type="text" class="form-control input-md" ng-model="newChapter.lead" ng-required="true">
          <p ng-show="chapterForm.manager.$invalid && !chapterForm.manager.$pristine" class="help-block">Enter a valid manager's name.</p>
        </div>
      </div>
      <!-- Textarea - Description -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="description">Description</label>
        <div class="col-md-7 ">
          <textarea class="form-control" id="description" name="description" ng-model="newChapter.description"></textarea>
        </div>
      </div>
      <!-- Text - Email -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Contact Email*</label>
        <div class="col-md-7">
          <input id="email" name="email" type="email" placeholder="johndoe@heroesonthewater.org" class="form-control input-md" ng-model="newChapter.email" ng-required="true">
          <p ng-show="chapterForm.email.$invalid && !chapterForm.email.$pristine" class="help-block">Enter a valid email address.</p>
        </div>
      </div>
      <!-- Text - Facebook -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="facebook">Facebook URL*</label>
        <div class="col-md-7">
          <input id="facebook" name="facebook" type="url" placeholder="http://www.facebook.com" class="form-control input-md" ng-model="newChapter.facebook" ng-required="true">
          <p ng-show="chapterForm.facebook.$invalid && !chapterForm.facebook.$pristine" class="help-block">Enter a valid facebook address.</p>
        </div>
      </div>
      <!-- Text - Donation -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="donation">Donation URL*</label>
        <div class="col-md-7">
          <input id="donation" name="donation" type="url" placeholder="http://www.paypal.com" class="form-control input-md" ng-model="newChapter.donation" ng-required="true">
          <p ng-show="chapterForm.donation.$invalid && !chapterForm.donation.$pristine" class="help-block">Enter a valid donation address.</p>
        </div>
      </div>
      <!-- Select - Region -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="region">Region*</label>
        <div class="col-md-7">
          <select id="region" name="region" class="form-control" ng-options="region as region.text for region in regions" ng-model="newChapter.region">
          </select>
        </div>
      </div>
      <!-- Select - State -->
      <div class="form-group">
        <label for="" class="col-md-4 control-label" for="state">State*</label>
        <div class="col-md-7">
          <select ng-options="state as state.name for state in states" class="form-control input-md" ng-model="newChapter.state"></select>
        </div>
      </div>
      <!-- Text - Zip Code -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="zip">Zip Code*</label>
        <div class="col-md-7">
          <input id="location" name="location" type="text" class="form-control input-md" ng-model="newChapter.zip" ng-required="true" placeholder="75202">
          <p ng-show="chapterForm.location.$invalid && !chapterForm.location.$pristine" class="help-block">Enter a valid Zip Code.</p>
        </div>
      </div>
      <!-- Label - Required Field Label -->
      <div class="form-group ">
        <div class="col-md-4 "></div>
        <p class="col-md-7 ">* indicates required field.</p>
      </div>
    </fieldset>
  </form>
</div>
<!-- end modal body -->
<div class="modal-footer">
  <!-- Button - Submit -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
    <div class="col-md-7">
      <button id="submit" name="submit" class="btn btn-primary" ng-disabled="chapterForm.$invalid" ng-click="postChapter(newChapter)">Submit</button>
    </div>
  </div>
</div>