<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Sign Up</h4>
</div>
<!-- end modal-header -->
<div id="registration_form" class="modal-body" ng-init="initialize()">
    <form name="userForm" class="form-horizontal" ng-submit="postUser(userForm)" novalidate style="height: 500px; overflow-y: auto; overflow-x: hidden;">
        <fieldset>
            <!-- First Name -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fname">First Name*</label>
                <div class="col-md-7">
                    <input id="fname" name="fname" type="text" placeholder="John" ng-class="{'highlight_field': submitted && userForm.fname.$invalid}" class="form-control input-md" ng-model="newUserDirectory.name.first" required>
                    <p ng-show="submitted && userForm.fname.$error.required" class="help-block">First name is required.</p>
                </div>
            </div>
            <!-- Last Name -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lname">Last Name*</label>
                <div class="col-md-7">
                    <input id="lname" name="lname" type="text" placeholder="Doe" ng-class="{'highlight_field': submitted && userForm.lname.$invalid}" class="form-control input-md" ng-model="newUserDirectory.name.last" required>
                    <p ng-show="submitted && userForm.lname.$error.required" class="help-block">Last name is required.</p>
                </div>
            </div>
            <!-- Address 1 -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Address1">Address 1*</label>
                <div class="col-md-7">
                    <input id="Address1" name="Address1" type="text" placeholder="Street" ng-class="{'highlight_field': submitted && userForm.Address1.$invalid}" class="form-control input-md" ng-model="newUserDirectory.address.line1" required>
                    <p ng-show="submitted && userForm.Address1.$error.required" class="help-block">Address 1 is required.</p>
                </div>
            </div>
            <!-- Address 2 -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Address2">Address 2</label>
                <div class="col-md-7">
                    <input id="Address2" name="Address2" type="text" placeholder="APT/SUITE" class="form-control input-md" ng-model="newUserDirectory.address.line2">
                </div>
            </div>
            <!-- City -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="City">City*</label>
                <div class="col-md-7">
                    <input id="City" name="City" type="text" placeholder="City" ng-class="{'highlight_field': submitted && userForm.City.$invalid}" class="form-control input-md" ng-model="newUserDirectory.address.city" required>
                    <p ng-show="submitted && userForm.City.$error.required" class="help-block">City is required.</p>
                </div>
            </div>
            <!-- State-->
            <div class="form-group">
                <label for="" class="col-md-4 control-label">State*</label>
                <div class="col-md-7">
                    <select name="state" ng-options="state as state.name for state in states" ng-class="{'highlight_field': submitted && userForm.state.$invalid}" class="form-control input-md" ng-model="newUserDirectory.address.state" required></select>
                    <p ng-show="submitted && userForm.state.$error.required" class="help-block">State is required.</p>
                </div>
            </div>
            <!-- Zip -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Zip">Zip*</label>
                <div class="col-md-7">
                    <input id="Zip" name="Zip" type="text" placeholder="99999" ng-class="{'highlight_field': submitted && userForm.Zip.$invalid}" class="form-control input-md" ng-model="newUserDirectory.address.zip" ng-change="ZipUpdate()" ng-model-options="{debounce:1000}" required>
                    <p ng-show="submitted && userForm.Zip.$error.required" class="help-block">Zip code is required.</p>
                </div>
            </div>
            <!-- DOB -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="date">Date of Birth*</label>
                <div class="col-md-7">
                    <p class="input-group">
                        <input type="text" name="dob" id="sanicDOB" length="10" ng-pattern="/^([0][1-9]|[1][0-2])[- /.]([0][1-9]|[1-2][0-9]|[3][0-1])[- /.](19|20)\d\d$/" ng-class="{'highlight_field': submitted && userForm.dob.$invalid}" class="form-control input-md mask" placeholder="mm/dd/yyyy" uib-datepicker-popup="{{format}}" ng-model="newUserDirectory.DOB" is-open="popup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <p ng-show="submitted && userForm.dob.$error.required" class="help-block">Date of birth is required.</p>
                        <p ng-show="userForm.dob.$error.pattern" class="help-block">Valid date of birth is required</p>
                    </p>
                </div>
            </div>
            <!-- Gender -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Gender">Gender*</label>
                <div class="col-md-7">
                    <select name="Gender" ng-model="newUserDirectory.gender" ng-class="{'highlight_field': submitted && userForm.gender.$invalid}" class="form-control" required>
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email*</label>
                <div class="col-md-7">
                    <input id="email" name="email" type="email" placeholder="johndoe@heroesonthewater.org" ng-class="{'highlight_field': submitted && userForm.email.$invalid}" class="form-control input-md" ng-model="newUserDirectory.email" required>
                    <p ng-show="submitted && userForm.email.$error.required" class="help-block">Email address is required.</p>
                    <p ng-show="userForm.email.$error.email" class="help-block">Valid email format required. (test@test.com)</p>
                </div>
            </div>
            <!-- Phone # -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phonenum">Phone #*</label>
                <div class="col-md-7">
                    <input id="phonenum" name="phonenum" type="text" placeholder="(123)457-6890" ng-class="{'highlight_field': submitted && userForm.phonenum.$invalid}" class="form-control input-md mask" ng-model="newUserDirectory.phone" ng-minlength="13" ng-maxlength="13" required>
                    <p ng-show="submitted && userForm.phonenum.$error.required" class="help-block">Phone number is required.</p>
                </div>
            </div>
            <!-- Region -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="region">Region*</label>
                <div class="col-md-7">
                    <select id="region" name="region" ng-class="{'highlight_field': submitted && userForm.region.$invalid}" class="form-control" ng-options="region as region.text for region in regions" ng-model="newUserDirectory.region" ng-change="regionUpdate()" required>
                    </select>
                    <p ng-show="submitted && userForm.region.$error.required && !userForm.region.$valid" class="help-block">Region is required.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="chapter">Chapter*</label>
                <div class="col-md-7">
                    <select id="chapter" name="chapter" ng-class="{'highlight_field': submitted && userForm.chapter.$invalid}" class="form-control" ng-model="newUserDirectory.chapter" ng-options="chapter as chapter for chapter in chapters" required>
                    </select>
                    <p ng-show="submitted && userForm.chapter.$error.required && !userForm.chapter.$valid" class="help-block">Chapter is required.</p>
                </div>
            </div>
            <!-- Service Type -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="service_type">Service Type*</label>
                <div class="col-md-7">
                    <input type="radio" name="service_type" ng-model="newUserDirectory.service_type" ng-click="setDefault()" value="First_Responder"> First Responder
                    <br>
                    <input type="radio" name="service_type" ng-model="newUserDirectory.service_type" ng-click="setDefault()" value="Military"> Military
                    <br>
                    <input type="radio" name="service_type" ng-model="newUserDirectory.service_type" ng-click="setDefault()" ng-value="false" checked> N/A
                    <br>
                </div>
            </div>
            <!-- Service background -->
            <div class="form-group" ng-show="newUserDirectory.service_type">
                <label class="col-md-4 control-label" for="branch">Service background*</label>
                <div class="col-md-7" ng-if="newUserDirectory.service_type === 'Military'">
                    <input id="branch" name="branch" type="text" ng-class="{'highlight_field': submitted && userForm.branch.$invalid}" class="form-control input-md" ng-model="newUserDirectory.branch" required>
                    <p ng-show="submitted && userForm.branch.$pristine && !userForm.branch.$valid" class="help-block">Service background is required.</p>
                </div>
                <div class="col-md-7" ng-if="newUserDirectory.service_type === 'First_Responder'">
                    <select id="first_responder" name="first_responder" class="form-control" ng-model="newUserDirectory.branch" ng-options="branch as branch for branch in branches" required>
                    </select>
                </div>
            </div>
            <!-- Years Served -->
            <div class="form-group" ng-if="newUserDirectory.service_type">
                <label class="col-md-4 control-label" for="Years_Served">Years Served*</label>
                <div class="col-md-7">
                    <input id="Years_Served" name="Years_Served" type="text" pattern="^([0-9]|[1-9][0-9]|[1][0][0])$" ng-class="{'highlight_field': submitted && userForm.Years_Served.$invalid}" class="form-control input-md" ng-model="newUserDirectory.years" required>
                    <p ng-show="submitted && userForm.Years_Served.$error.required && !userForm.Years_Served.$valid" class="help-block">Years served is required.</p>
                    <p ng-show="userForm.Years_Served.$error.pattern" class="help-block">Valid range is 0-100</p>
                </div>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password*</label>
                <div class="col-md-7">
                    <input id="password" name="password" type="password" pattern="^([a-zA-Z0-9@*#!]{6,20})$" ng-class="{'highlight_field': submitted && userForm.password.$invalid}" class="form-control input-md" ng-model="newUserDirectory.password" required>
                    <p ng-show="submitted && userForm.password.$pristine" class="help-block">Password is required.</p>
                    <p ng-show="userForm.password.$error.pattern" class="help-block">Password must contain 6-20 characters, allowable characters a-z A-Z 0-9 @ * # !</p>
                </div>
            </div>
            <!-- Submit -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-7">
                    <button id="submit" name="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
                    <button type="button" name="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- end modal body -->