<div class="container" ng-init="loadexpensedata()">
    <form id="ExpDetail" name="ExpDetail" method="post" class="form-inline" novalidate>
        <div class="form-group row expense_pad1">
            <input type="button" class="btn btn-primary" ng-click="GoBack()" value="Go Back to Expense List">
        </div>
        <div class="panel panel-default" ng-repeat="dexedit in expense">
            <div class="panel-heading clearfix">
                <b> <h3 class="panel-title pull-left">Expense Detail {{EditMode}}</h3></b>
            </div>
            <div class="form-group form-inline labeldisplay">
                <div class="form-group row">
                    <label for="leventdate" class="col-xs-6 col-form-label">Event Date</label>
                    <div class="col-xs-10">
                        <label id="leventdate" class=" form-control" placeholder="0" ng-model="dexedit.ventdate">
                            {{dexedit.eventdate}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lchapter" class="col-xs-6 col-form-label">Chapter Name </label>
                    <div class="col-xs-10">
                        <label id="lchapter" class=" form-control" ng-model="dexedit.Chapter">
                            {{dexedit.Chapter}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ltotalcost" class="col-xs-8  col-form-label">Total Expense</label>
                    <div class="col-xs-10">
                        <label id="ltotalcost" class=" form-control " ng-model="dexedit.Amount">
                            {{ ((dexedit.Line[0].Quantity * dexedit.Line[0].Rate) + (dexedit.Line[1].Quantity * dexedit.Line[1].Rate) + TotalLineCost ) | currency}}
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lsubmitby" class="col-xs-6 col-form-label">Created By</label>
                    <div class="col-xs-10">
                        <label id="lsubmitby" class=" form-control" ng-model="dexedit.SubmitBy">
                            {{dexedit.SubmitBy}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lsubmitdate" class="col-xs-6 col-form-label">Created On</label>
                    <div class="col-xs-10">
                        <label id="lsubmitdate" class=" form-control" ng-model="dexedit.SubmitDate">
                            {{dexedit.SubmitDate}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lsubmitaddress" class="col-xs-6 col-form-label">Address</label>
                    <div class="col-xs-12">
                        <label id="lsubmitaddress" class=" form-control" ng-model="dexedit.SubmitAddress">
                            <!-- <style=" word-wrap: break-word"> -->
                            {{dexedit.SubmitAddress}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lPaymentStatus" class="col-xs-8 col-form-label">Payment Status</label>
                    <div class="col-xs-10">
                        <label id="lPaymentStatus" class=" form-control" ng-model="dexedit.PaymentStatus">
                            {{dexedit.PaymentStatus}}</label>
                    </div>
                </div>
                <div class="form-group row expense_pad1" ng-show="(dexedit.PaymentStatus!='Over Age')">
                    <button class="btninfo" type="button" class="btn btn-default" title="Payment Status Log" ng-click="open()">Payment Status Log</button>
                </div>
            </div>
            <fieldset ng-disabled="OverageDisable">
                <div class="list-group-item">
                    <div class="form-group row ">
                        <label for="lDescription" class="col-xs-12 col-form-label">Business purpose, Origin and Destination</label>
                        <div class="col-md-8">
                            <input id="lDescription" ng-model="dexedit.Description" type="text" class="form-control" title="Business purpose, Origin & Destination" size="120" placeholder="Business purpose, Origin & Destination" required>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <h4>Mileage for Travel</h4>
                    <div class="form-group row">
                        <label for="lquantity1" class="col-xs-6 col-form-label">Miles Driven</label>
                        <div class="col-xs-10">
                            <input id="lquantity1" ng-model="dexedit.Line[0].Quantity" name="miles" class="form-control" placeholder="0" type="number" min="1" pattern="\d+">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lrate1" class="col-xs-6 col-form-label">Mile Rate</label>
                        <div class="col-xs-10">
                            <input id="lrate1" ng-model="dexedit.Line[0].Rate" name="miles" class="form-control" placeholder="0.25" type="number" step="0.01" pattern="\d+.\d+">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lamount1" class="col-xs-6 col-form-label">Amount</label>
                        <div class="col-xs-10">
                            <label id="lamount1" class="form-control" placeholder="0" ng-model="exp.Line[0].Amount" name="Amount1">{{ (dexedit.Line[0].Quantity * dexedit.Line[0].Rate) | currency}}</label>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <h4>Mileage for Trailer Hauling</h4>
                    <div class="form-group row">
                        <label for="lquantity2" class="col-xs-6 col-form-label">Trailer Miles</label>
                        <div class="col-xs-10">
                            <input id="lquantity2" ng-model="dexedit.Line[1].Quantity" name="trailermiles" class="form-control" placeholder="0" type="number" min="1" pattern="\d+">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lrate2" class="col-xs-6 col-form-label">Mile Rate</label>
                        <div class="col-xs-10">
                            <input id="lrate2" ng-model="dexedit.Line[1].Rate" name="milerate" class="form-control" placeholder="0.4" type="number" step="0.01" pattern="\d+.\d+">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lamount2" class="col-xs-6 col-form-label">Amount</label>
                        <div class="col-xs-10">
                            <label id="lamount2" class="form-control" placeholder="0" ng-model="exp.Line[1].Amount" name="Amount2">{{ (dexedit.Line[1].Quantity * dexedit.Line[1].Rate) | currency}}</label>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <label for="" class="col-md-12 " title="Other Expenses">
                        <h4>Other Expenses</h4>
                    </label>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
                                </th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Line in LineDetails">
                                <td>
                                    <input type="checkbox" ng-model="Line.selected" />
                                </td>
                                <td>
                                    <input type="text" size="60" class="form-control" ng-model="Line.Description" name="LineDescription" placeholder="Explanation of Other expenses" title="Explanation of Other expenses" required />
                                </td>
                                <td>
                                    <div class="input-group  ">
                                        <input id=lineamount name=lineamount class="form-control" ng-model="Line.Amount" type="text" format-as-currency>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="OtherExpensebtn">
                        <input id="btn_addNew" ng-model="btn_addNew" type="submit" class="btn btn-primary btnalign  " ng-click="addNew()" value="Add New">
                        <input id="btn_remove" ng-model="btn_remove" ng-hide="!LineDetails.length" type="button" class="btn btn-danger btnalign" ng-click="remove()" value="Remove">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Bill Receipts</h3>
                    </div>
                    <div id="imagedisplay" class="form-group col-xs-12">
                        <div class="content panel-body-exp">
                            <img id="image0" width="40%" height="40%" hidden="true" class="imagedisplay" onmouseover="image0.width='700';image0.height='450';" onmouseout="image0.width='250';image0.height='200';" />
                            <img id="image1" width="40%" height="40%" hidden="true" class="imagedisplay" onmouseover="image1.width='700';image1.height='450';" onmouseout="image1.width='250';image1.height='200';" />
                            <img id="image2" class="imagedisplay" hidden="true" onmouseover="image2.width='700';image2.height='450';" onmouseout="image2.width='250';image2.height='200';" />
                            <img id="image3" class="imagedisplay" hidden="true" onmouseover="image3.width='700';image3.height='450';" onmouseout="image3.width='250';image3.height='200';" />
                            <img id="image4" class="imagedisplay" hidden="true" onmouseover="image4.width='700';image4.height='450';" onmouseout="image4.width='250';image4.height='200';" />
                            <img id="image5" class="imagedisplay" hidden="true" onmouseover="image5.width='700';image5.height='450';" onmouseout="image5.width='250';image5.height='200';" />
                            <img id="image6" class="imagedisplay" hidden="true" onmouseover="image6.width='700';image6.height='450';" onmouseout="image6.width='250';image6.height='200';" />
                            <img id="image7" class="imagedisplay" hidden="true" onmouseover="image7.width='700';image7.height='450';" onmouseout="image7.width='250';image7.height='200';" />
                            <img id="image8" class="imagedisplay" hidden="true" onmouseover="image8.width='700';image8.height='450';" onmouseout="image8.width='250';image8.height='200';" />
                            <img id="image9" class="imagedisplay" hidden="true" onmouseover="image9.width='700';image9.height='450';" onmouseout="image9.width='250';image9.height='200';" />
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <div ng-show="((userRole=='Participant' || userRole=='Volunteer' || userRole=='Chapter Lead') && (useremail==expenseemail) )" class="form-group col-xs-12" style="padding-top: 6px;">
                    <div class="form-group row col-xs-6" ng-show="((userRole=='Participant' || userRole=='Volunteer') &&  (paystat=='Pending' || paystat=='Resubmit')) || (userRole=='Chapter Lead' && paystat=='Submitted') ">
                        <input type="button" class="btn btn-primary" ng-click="updateexpense()" value="Save Expense">
                        <input type="button" class="btn btn-primary" ng-click="deleteexp()" ng-show="( paystat=='Pending') " value="Delete Expense">
                        <input type="button" class="btn btn-primary" ng-click="GoBack()" value="Cancel">
                    </div>
                    <!-- <div class="form-group row  col-xs-4">
                        <input type="button" class="btn btn-primary" ng-click="GoBack()" value="Go Back">
                    </div> -->
                </div>
                <!-- <div ng-show="((userRole=='Participant' || userRole=='Volunteer' || userRole=='Chapter Lead') && (useremail==expenseemail) && (dexedit.PaymentStatus=='Rejected'))" class="form-group col-xs-12" style="padding-top: 6px;">
    <div class="form-group row" style="padding-bottom:  6px;">
        <label for="lpaystatusdescription" class="col-xs-12 col-form-label">Re-Submit Reason:</label>
        <div class="col-md-8">
            <input id="lpaystatusdescription" ng-model="resubmitreason" type="text" class="form-control" title="Payment Status NOTES - Explain the reason for changing payment status " size="120" placeholder="Explain the reason for changing payment status" required>
        </div>
    </div>
    <a ng-href="#/expense/viewexpense" class="btn btn-primary format_button_sm" ng-show="(dexedit.PaymentStatus!='Approved') && (dexedit.PaymentStatus!='Payment Issued')" ng-click="resubmitexpense(dexedit.BillId,resubmitreason)">Re-Submit</a>
    <a ng-href="#/expense/viewexpense" class="btn btn-primary format_button_sm" title="Go Back to View Expense List" ng-click="">Go Back</a>
</div>
 -->
            </fieldset>
            <div class="panel panel-default " ng-hide="(userRole=='Participant' || userRole == 'Volunteer' || paystat=='Over Age' ) ">
                <!-- <div class="panel panel-default "> -->
                <div class="panel-heading clearfix ">
                    <h3 class="panel-title pull-left ">Payment Status Review</h3>
                </div>
                <!-- <ng-show="(userRole=='Chapter Lead' && (paystat=='Pending' || paystat=='Returned')) " > -->
                <div class="content panel-body-exp " class="form-group col-xs-12 ">
                    <fieldset id="payment_status">
                        <div ng-repeat="paystatus in paystatuslist" class="radiofieldgroup">
                            <input type="radio" ng-model="dexedit.PaymentStatus" name="name" value="{{paystatus.name}} " required /> {{paystatus.name}}
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="lpaystatusdescription" class="col-xs-12 col-form-label">Payment Status NOTES:</label>
                        <div class="col-md-12 inputtextpad">
                            <input id="lpaystatusdescription" ng-model="dexedit.PayStatusDescription" type="text" class="form-control" title="Payment Status NOTES - Explain the reason for changing payment status " size="120" placeholder="Explain the reason for changing payment status" required>
                        </div>
                    </div>
                    <input id="paymentstatusbtn" name="paymentstatusbtn" type=button ng-click="UpdatePaymentStatus(dexedit.BillId, dexedit.PaymentStatus, dexedit.PayStatusDescription)" class="btn btn-primary  " value="Status Update" />
                    <input type="button" class="btn btn-primary" ng-click="GoBack()" value="Cancel">
                </div>
                <!--                 <div class="content panel-body-exp " ng-show="(userRole=='National Staff' || userRole=='admin') && (paystat=='Submitted' || paystat=='Approved')">
                    <fieldset id="payment_status">
                        <div ng-repeat="paystatus in paystatuslist" class="radiofieldgroup">
                            <input type="radio" ng-model="formModel.dexedit.PaymentStatus " name="name" value="{{paystatus.name}} " required /> {{paystatus.name}}
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="lpaystatusdescription" class="col-xs-12 col-form-label">Payment Status NOTES:</label>
                        <div class="col-md-12 inputtextpad">
                            <input id="lpaystatusdescription" ng-model="dexedit.PayStatusDescription" type="text" class="form-control" title="Payment Status NOTES - Explain the reason for changing payment status " size="120" placeholder="Explain the reason for changing payment status" required>
                        </div>
                    </div>
                    <input id="paymentstatusbtn" name="paymentstatusbtn" type=button ng-click="UpdatePaymentStatus(dexedit.BillId, dexedit.PaymentStatus,   dexedit.PayStatusDescription)" class="btn btn-primary format_button_med" value="Status Update" />
                    <input type="button" class="btn btn-primary" ng-click="GoBack()" value="Cancel">
                </div> -->
            </div>
            <div class="panel panel-default" ng-show="(paystat=='Over Age')">
                <h3 class="modal-title" id="modal-title">Payment Status Log</h3>
                <div class="modal-body" id="modal-body">
                    <div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Updated By</th>
                                    <th>Role</th>
                                    <th>Reason</th>
                                    <th>Status Changed to</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in  PayStatusLogList">
                                    <td>
                                        {{item.PayStatusDate}}
                                    </td>
                                    <td>
                                        {{item.PayStatusBy}}
                                    </td>
                                    <td>
                                        {{item.PayRole}}
                                    </td>
                                    <td>
                                        {{item.PayStatusDescription}}
                                    </td>
                                    <td>
                                        {{item.PayStatus}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row  col-xs-4 divhide" id="divgoback">
                    <input type="button" class="btn btn-primary" ng-click="GoBack()" value="Go Back">
                </div>
            </div>
    </form>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Payment Status Log</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Updated By</th>
                            <th>Role</th>
                            <th>Reason</th>
                            <th>Status Changed to</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in  PayStatusLogList">
                            <td>
                                {{item.PayStatusDate}}
                            </td>
                            <td>
                                {{item.PayStatusBy}}
                            </td>
                            <td>
                                {{item.PayRole}}
                            </td>
                            <td>
                                {{item.PayStatusDescription}}
                            </td>
                            <td>
                                {{item.PayStatus}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">CLOSE</button>
        </div>
    </script>