<div class="container">
    <form id="newExpenseform" name="newExpenseform" method="post" class="form-inline" novalidate>
        <div class="panel panel-default  ">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Create New Expense</h3>
            </div>
            <!-- <div class="form-group form-inline" style="padding-top: 6px;  padding-bottom:  6px;"> -->
            <!-- <div class="form-group  row-fluid"> -->
            <div class="list-group-item">
                <div class="form-group row  ">
                    <label for="exp.eventdate" class="col-xs-6 col-form-label">Event Date</label>
                    <div class=" col-xs-10">
                        <div class="input-group  ">
                            <input id="exp.eventdate" type="text" class="form-control" ng-model="exp.eventdate
" is-open="popup.opened" ng-required="true" datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="{{format}}" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dateopen()" title="Event Date - Expenses can only be created for events 60 days prior to current date"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="form-group row">
                    <label for="" class="col-xs-6 col-form-label">Miles Driven</label>
                    <div class="col-xs-10">
                        <input ng-model="exp.Line[0].Quantity" name="miles" class="form-control" placeholder="0" min="1" pattern="\d+">
                        <p ng-if="newExpenseform.miles.$invalid" class="field-feedback">
                            Enter miles driven > 0
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-xs-6 col-form-label">Mile Rate</label>
                    <div class="col-xs-10">
                        <input ng-model="exp.Line[0].Rate" name="milerate" class="form-control" placeholder="0.25" pattern="\d+.\d+" />
                        <p ng-if="newExpenseform.milerate.$invalid" class="field-feedback">Enter valid mile rate</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-xs-8 col-form-label">Mileage Amount</label>
                    <div class="col-xs-10">
                        <label class="form-control exp_format2" placeholder="0" ng-model="exp.Line[0].Amount" name="Amount1">{{ (exp.Line[0].Quantity * exp.Line[0].Rate) | currency}}</label>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="form-group row">
                    <label for="" class="col-xs-8 col-form-label">Trailer Miles</label>
                    <div class="col-xs-10">
                        <input ng-model="exp.Line[1].Quantity" name="trailermiles" class="form-control" placeholder="0" min="1" pattern="\d+">
                        <p ng-if=" newExpenseform.trailermiles.$invalid" class="field-feedback">
                            Enter trailer hauling miles > 0
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-xs-8 col-form-label">Trailer Mile Rate</label>
                    <div class="col-xs-10">
                        <input ng-model="exp.Line[1].Rate" name="trailermilerate" class="form-control" placeholder="0.4" pattern="\d+.\d+" />
                        <p ng-if="newExpenseform.trailermilerate.$invalid" class="field-feedback">Enter valid mile rate</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-xs-12 col-form-label">Trailer Mileage Amount</label>
                    <div class="col-xs-10">
                        <label class="form-control" placeholder="0" ng-model="exp.Line[1].Amount" name="Amount2">{{ (exp.Line[1].Quantity * exp.Line[1].Rate) | currency}}</label>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <label for="" class="col-md-12 col-form-label" title="Other Expenses">
                    <h4>Other Expenses</h4>
                </label>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
                            </th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Line in LineDetails">
                            <td>
                                <input type="checkbox" ng-model="Line.selected" />
                            </td>
                            <td>
                                <input type="text" size="80" class="form-control" ng-model="Line.Description" name="LineDescription" placeholder="Explanation of Other expenses" title="Explanation of Other expenses" required />
                            </td>
                            <td>
                                <!-- <div class="input-group  "> -->
                                <input id=lineamount name=lineamount class="form-control" ng-model="Line.Amount" type="text" format-as-currency>
                                <!-- <input id=lineamount name=lineamount class="form-control" ng-model="Line.Amount" placeholder="0.0" type="number" step="0.01" pattern="\d+.\d+" required format-as-currency> -->
                                <!-- </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btnalign  " ng-click="addNew()" value="Add New">
                    <input ng-hide="!LineDetails.length" type="button" class="btn btn-danger btnalign " ng-click="remove()" value="Remove">
                </div>
            </div>
            <div class="form-group row btnalign">
                <label for="" class="col-md-12 col-form-label" title="Load supporting documents (images only) including paid bills, receipts, deposit slips. ">Load supporting documents (images only)</label>
                <input type="file" id="files" name="files" multiple accept="image/*" ng-model="noblankfile" ng-change="uploadImageFile(); " required title="" class="fullwidth input rqd" ng-style="noblankfile?{'color':'#333'}:{'color':'transparent'}" />
                <br />
                <p>Multiple image files can be loaded in single load/click. 'Click' on the loaded image will remove the image from the list. </p>
                <div id="selectedFiles"></div>
                <input type="submit " hidden>
                <!-- <onchange="angular.element(this).scope().uploadImageFile(this.files)" > handleFileSelect($evt); -->
            </div>
            <div class="form-group row btnalign">
                <label for="" class="col-md-12 col-form-label">Business purpose, Origin and Destination</label>
                <div class="col-md-12 ">
                    <input name="Description" ng-model="exp.Description" type="text" class="form-control" title="Business purpose, Origin & Destination" size="120" placeholder="Business purpose, Origin & Destination" required ng-minlength="3">
                    <p ng-if="newExpenseform.Description.$invalid" class="field-feedback">
                        Enter description for your expense
                    </p>
                    <p ng-show="newExpenseform.Description.$error.minlength" class="field-feedback">Description is too short.</p>
                </div>
            </div>
            <div class="panel-body-exp row btnalign">
                <button class="btn btn-primary ur_format_button " ng-click="confirmnewexpense() " type="submit ">Add New Expense</button>
                <!-- <data-ng-disabled="!fileadded || newExpenseform.$invalid ">Add New Expense</button>  class="custom-file-input"  createnewexpense()-->
                <input type="button" class="btn btn-primary" ng-click="ClearFields
()" value="Clear">
                <input type="button" class="btn btn-primary" ng-click="GoBack()" value="Cancel">
            </div>
    </form>
    <script>
    $(document).ready(function() {

        $("#files ").on("change ", handleFileSelect);

        selDiv = $("#selectedFiles ");
        $("#myForm ").on("submit ", handleForm);

        $("body ").on("click ", ".selFile ", removeFile);
    });
    </script>
    </div>