<div class="container" ng-controller="NewExpenseCtrl">
    <form id="newExpenseform" ng-submit="createnewexpense()" name="newExpenseform" method="post" class="form-inline" novalidate>
        <div class="panel panel-default   ">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Create New Expense</h3>
            </div>
            <div class="form-group form-inline" style="padding-top: 6px;  padding-bottom:  6px;">
                <div class="form-group row">
                    <label for="eventdate" class="col-xs-6 col-form-label">Event Date</label>
                    <div class="col-xs-10">
                        <input ng-model="exp.eventdate" type="text" class="form-control" name="eventdate" id="eventdate" ng-required="true" style="background: white">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-md-12 col-form-label">Business purpose, Origin and Destination</label>
                    <div class="col-md-12  ">
                        <input name="Description" ng-model="exp.Description" type="text" class="form-control " title="Business purpose, Origin & Destination" placeholder="Business purpose, Origin & Destination" required>
                        <div ng-if="newExpenseform.Description.$touched && newExpenseform.Description.$invalid">
                            Enter description for your expense
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="totalcost" class="col-xs-12 col-form-label">Total Expense Amount</label>
                    <div class="col-xs-16">
                        <input id=totalcost type="text" readonly class="form-control exp_format2" name="totalcost" placeholder="0" value="{{ ((exp.Line[0].Quantity *  exp.Line[0].Rate) + (exp.Line[1].Quantity *  exp.Line[1].Rate) + exp.Line[2].Amount + exp.Line[3].Amount) | currency}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Chapter" class="col-xs-12 col-form-label">Chapter Name</label>
                    <div class="col-xs-12">
                        <label id="Chapter" class="form-control classname2" ng-model="exp.Chapter" name="Chapter">
                            {{userinfo.viewuserdata[0].Chapter}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-xs-12 col-form-label">User Payment Address</label>
                    <div class="col-xs-12">
                        <div class="panel panel-default form-group col-xs-14 ">
                            <div style="display: block"> <b>{{userinfo.viewuserdata[0].name.last}}  , {{userinfo.viewuserdata[0].name.first}}</b></div>
                            <div style="display: block">{{userinfo.viewuserdata[0].address.line1}} </div>
                            <div style="display: block">{{userinfo.viewuserdata[0].address.line2}} </div>
                            <div style="display: block">{{userinfo.viewuserdata[0].address.city}} , {{userinfo.viewuserdata[0].address.state}}, {{userinfo.viewuserdata[0].address.zip}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group   panel panel-default   ">
                    <div class="panel-heading"><b>Mileage for Travel</b></div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="" class="col-xs-6 col-form-label">Miles Driven</label>
                            <div class="col-xs-10">
                                <input ng-model="exp.Line[0].Quantity" name="miles" class="form-control" placeholder="0" type="number" min="1" pattern="\d+">
                            </div>
                        </div>
                        <div class="form-group row" style="padding: 10">
                            <label for="" class="col-xs-6 col-form-label">Mile Rate</label>
                            <div class="col-xs-10">
                                <input ng-model="exp.Line[0].Rate" name="milerate" class="form-control" placeholder="0.25">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-xs-7 col-form-label">Mileage Amount</label>
                            <div class="col-xs-10">
                                <label class="form-control exp_format2" placeholder="0" ng-model="exp.Line[0].Amount" name="Amount1">{{ (exp.Line[0].Quantity * exp.Line[0].Rate) | currency}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group   panel panel-default   ">
                    <div class="panel-heading"><b>Mileage for Trailer Hauling</b></div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="" class="col-xs-6 col-form-label">Trailer Miles</label>
                            <div class="col-xs-10">
                                <input ng-model="exp.Line[1].Quantity" name="trailermiles" class="form-control" placeholder="0" type="number" min="1" pattern="\d+">
                            </div>
                        </div>
                        <div class="form-group row" style="padding: 10">
                            <label for="" class="col-xs-6 col-form-label">Mile Rate</label>
                            <div class="col-xs-10">
                                <input ng-model="exp.Line[1].Rate" name="milerate" class="form-control" placeholder="0.4">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-xs-7 col-form-label">Mileage Amount</label>
                            <div class="col-xs-10">
                                <label class="form-control exp_format2" placeholder="0" ng-model="exp.Line[1].Amount" name="Amount2">{{ (exp.Line[1].Quantity * exp.Line[1].Rate) | currency}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group   panel panel-default   ">
                    <div class="panel-heading"><b>Other Expenses</b></div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="" class="col-xs-8 col-form-label">Line #</label>
                            <div class="col-xs-12">
                                <label class=" exp_num"> (1)</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Description3" class="col-xs-10 col-form-label">Explanation</label>
                            <div class="col-md-12">
                                <input id=Description3 ng-model="exp.Line[2].Description" name="Description3" ng-required="exp.Line[2].Amount && !exp.Line[2].Description" type="text" class="form-control balance" placeholder="Explanation of Other expenses" title="Explanation of Other expenses">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lamount3" class="col-xs-6 col-form-label">Amount</label>
                            <div class="col-xs-10">
                                <input id=lamount3 ng-model="exp.Line[2].Amount" name="Amount3" ng-required="exp.Line[2].Description && !exp.Line[2].Amount" type="number" step="0.01" class="form-control balance">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="" class="col-xs-8 col-form-label">Line #</label>
                            <div class="col-xs-12">
                                <label class=" exp_num"> (2)</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Description4" class="col-xs-10 col-form-label">Explanation</label>
                            <div class="col-md-12">
                                <input id=Description4 ng-model="exp.Line[3].Description" name="Description4" ng-required="exp.Line[3].Amount && !exp.Line[3].Description" type="text" class="form-control balance" placeholder="Explanation of Other expenses" title="Explanation of Other expenses">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lamount4" class="col-xs-6 col-form-label">Amount</label>
                            <div class="col-xs-10">
                                <input id=lamount4 ng-model="exp.Line[3].Amount" name="Amount4" ng-required="exp.Line[3].Description && !exp.Line[3].Amount" type="number" step="0.01" class="form-control balance">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group   panel panel-default   " title="Load supporting documents (images only) including paid bills, receipts, deposit slips.  ">
                <div class="panel-heading"><b>Load supporting documents (images only)</b></div>
                <div class="panel-body">
                    <input type="file" id="files" name="files" class="custom-file-input" multiple accept="image/*">
                    <br />
                    <label for="" class="col-form-label">Multiple image files can be loaded in single load/click. 'Click' on the loaded image will remove the image from the list. </label>
                    <div id="selectedFiles"></div>
                    <input type="submit" hidden>
                </div>
            </div>
            <div class="form-group  form-inline row">
                <button class="btn btn-primary ur_format_button" type="submit" ng-disabled="newExpenseform.$invalid">Add New Expense</button>
                <a ng-href="#/expense/viewexpense" class="btn btn-primary format_button_small" ng-click="">Cancel</a>
            </div>
        </div>
    </form>
    <script>
        var currentdate = new Date();
        $(document).ready(function() {
            $('#eventdate').pickadate({
                format: 'mm/dd/yyyy',
                formatSubmit: 'mm/dd/yyyy',
                hiddenName: true,
                onStart: function() {
                    this.set('select', currentdate); // Set to current date on load
                }
            });

            $("#files").on("change", handleFileSelect);

            selDiv = $("#selectedFiles");
            $("#myForm").on("submit", handleForm);

            $("body").on("click", ".selFile", removeFile);
        });
    </script>
</div>