<div class="container" ng-init="viewexpensedata()" ng-controller="ViewExpenseController">
    <form id="viewExpenseform" name="viewExpenseform" method="post" class="form-inline" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">View Expense {{HeadTitle}}</h3>
            </div>
            <div class="panel-body-exp">
                <div class="form-group row expense_pad">
                    <label for="startdate" class="col-xs-7 col-form-label">Submit date From</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input id="startdate" type="text" class="form-control" ng-model="startdate" is-open="popup.opened" ng-required="true" datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="{{format}}" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dateopen()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div class="col-md-4 ">
                            <span ng-show="viewExpenseform.startdate.$error.required && 
                            !viewExpenseform.startdate.$pristine">
                                Invalid or Empty from date
                            </span>
                            <span ng-show="viewExpenseform.startdate.$error.dateLowerThan">
                                From date must be greater than To date
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row expense_pad">
                    <label for="enddate" class="col-xs-6 col-form-label">To</label>
                    <div class="col-xs-10">
                        <div class="input-group">
                            <input id="enddate" type="text" class="form-control" ng-model="enddate" is-open="popup1.opened" ng-required="true" datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="{{format}}" alt-input-formats="altInputFormats" date-lower-than="{{startdate| date:'short'}}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dateopen1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div class="col-md-4 ">
                            <span ng-show="viewExpenseform.enddate.$error.required && 
                            !viewExpenseform.startdate.$pristine">
                                Invalid or Empty from date
                            </span>
                            <span ng-show="viewExpenseform.enddate.$error.dateLowerThan">
                                From date must be lower than To date
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row expense_pad">
                    <label for="PayStatus" class="col-xs-6 col-form-label">Payment Status</label>
                    <div class="col-xs-10">
                        <select class="form-control" ng-model="PayStatus" ng-options="status.name for status  in paystatuslist" name="PayStatus" title="Select Payment Status">
                        </select>
                    </div>
                </div>
                <div class="form-group row expense_pad1 ">
                    <img class="cursorPointer" src="/assets/images/expense/pdf.png" width="40" height="40" title="Create Expense Report" ng-click="CreateExpenseReport()">
                    <a href="#/expense/newexpense" ng-show="userRole!='National Staff'" class="btn btn-primary format_button_md" title="Create New Expense">New Expense</a>
                    <button class="btn btn-primary btn-danger" ng-click="filterPastDue()" title="Filters expenses that were submitted 60 days prior to date and still Overdue">Overdue Expenses</button>
                    <a href=" #/expense_QBUpdate" title="QuickBooks Update" ng-show="userRole=='National Staff'">
                        <img src="/assets/images/expense/QuickBooks.png" width="130" height="35" title="Go to QuickBooks Update Page" />
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="userRole=='National Staff'" class="form-group row-fluid col-lg-12">
            <div class="form-group row">
                <label for="selectedchapter" class="col-xs-6 col-form-label">Chapter List</label>
                <div class="col-md-8">
                    <select class="form-control col-md-8" ng-model="listS" id="selectedchapter" name="selectedchapter" title="Select Chapter Name">
                        <option value="" selected="true">All Chapters</option>
                        <option ng-repeat="chapter in lists.viewExpenseList | unique: 'Chapter'" value="{{chapter.Chapter}}">{{chapter.Chapter}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="userlist" class="col-xs-8 col-form-label">Expense Originator Name</label>
                <div class="col-md-8">
                    <select class="form-control col-md-8" required="" ng-model="userlist" id="userlist" name="userlist" title="Select Expense Originator Name">
                        <option value="" selected="true">All</option>
                        <option ng-repeat="chapter in lists.viewExpenseList | unique: 'SubmitBy' | filter: {Chapter: listS}" value="{{chapter.SubmitBy}}" ng-if="chapter.SubmitBy">{{chapter.SubmitBy}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row col-lg-12">
                <table class="table table-bordered table-condensed display nowrap" id="tblexpenselist" cellspacing="0" width="100%">
                    <thead class="table_head">
                        <tr>
                            <th>
                                <a ng-click="sortBy='SubmitDate' ; sortDescending=! sortDescending">Submit Date </a>
                                <span ng-show="sortBy=='SubmitDate' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='SubmitDate' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='Chapter' ; sortDescending=! sortDescending">Chapter Name </a>
                                <span ng-show="sortBy=='Chapter' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='Chapter' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='SubmitBy' ; sortDescending=! sortDescending">Expense Originator Name </a>
                                <span ng-show="sortBy=='SubmitBy' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='SubmitBy' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='eventdate' ; sortDescending=! sortDescending">Event Date </a>
                                <span ng-show="sortBy=='eventdate' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='eventdate' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='Amount' ; sortDescending=! sortDescending">Amount </a>
                                <span ng-show="sortBy=='Amount' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='Amount' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='PaymentStatus' ; sortDescending=! sortDescending">Payment Status </a>
                                <span ng-show="sortBy=='PaymentStatus' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='PaymentStatus' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="list in lists.viewExpenseList | orderBy:sortBy:sortDescending  | filter: {Chapter: listS} |filter: {SubmitBy: userlist} | filter: {PaymentStatus: PayStatus.value} | dateRange: startdate : enddate" ng-click="setSelected(list.BillId)">
                        <tr class="hoverme">
                            <td class="col-md-2"> {{list.SubmitDate}}</td>
                            <td class="col-md-4"> {{list.Chapter}}</td>
                            <td class="col-md-3"> {{list.SubmitBy}} </td>
                            <td class="col-md-2"> {{list.eventdate }} </td>
                            <td class="col-md-2 expense_currency">{{list.Amount | currency:'$'}} </td>
                            <td class="col-md-2">{{list.PaymentStatus}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show=" userRole!='National Staff'" class=" form-group row-fluid col-lg-12">
            <div class="form-group row" ng-show=" userRole=='Chapter Lead'">
                <label for="userlist" class="col-xs-8 col-form-label">Expense Originator Name</label>
                <div class="col-md-8">
                    <select class="form-control col-md-8" required="" ng-model="userlist" id="userlist" name="userlist" title="Select Expense Originator Name">
                        <option value="" selected="true">All</option>
                        <option ng-repeat="coord in lists.viewExpenseList | unique: 'SubmitBy' | filter: {SubmitBy: coord.SubmitBy} | filter: {Chapter: userChapter}" value="{{coord.SubmitBy}}">{{coord.SubmitBy}}
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group row col-lg-12">
                <table class="table table-bordered table-condensed display nowrap" id="tblexpenselist" cellspacing="0" width="100%">
                    <thead class="table_head">
                        <tr>
                            <th>
                                <a ng-click="sortBy='SubmitDate' ; sortDescending=! sortDescending">Submit Date </a>
                                <span ng-show="sortBy=='SubmitDate' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='SubmitDate' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='SubmitBy' ; sortDescending=! sortDescending">Expense Originator Name </a>
                                <span ng-show="sortBy=='SubmitBy' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='SubmitBy' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='eventdate' ; sortDescending=! sortDescending">Event Date </a>
                                <span ng-show="sortBy=='eventdate' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='eventdate' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='Amount' ; sortDescending=! sortDescending">Amount </a>
                                <span ng-show="sortBy=='Amount' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='Amount' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                            <th>
                                <a ng-click="sortBy='PaymentStatus' ; sortDescending=! sortDescending">Payment Status </a>
                                <span ng-show="sortBy=='PaymentStatus' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortBy=='PaymentStatus' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="coord in lists.viewExpenseList | orderBy:sortBy:sortDescending | filter: {SubmitBy: userlist} | filter: {PaymentStatus: PayStatus.value} | filter: {Chapter: userChapter} | dateRange: startdate : enddate" ng-click="setSelected(coord.BillId)">
                        <tr class="hoverme">
                            <td class="col-md-2"> {{coord.SubmitDate}} </td>
                            <td class="col-md-3"> {{coord.SubmitBy}} </td>
                            <td class="col-md-2"> {{coord.eventdate}} </td>
                            <td class="col-md-2 expense_currency">{{coord.Amount | currency:'$'}} </td>
                            <td class="col-md-2">{{coord.PaymentStatus}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
