<!DOCTYPE html>
<div class="container" ng-init="update()">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">My Profile</h3>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <h6 class="list-group-item-text">User: </h6>
        <h4 class="list-group-item-heading">
          First:
          <a id="profile_first_name" class="editable editable-click">{{profileData.name.first}}</a>
          <br /> Last:
          <span id="profile_last_name" class="editable editable-click">{{profileData.name.last}}</span>
        </h4>
        <h4 class="list-group-item-heading">DOB:
          <span id="profile_dob" class="editable editable-click">{{(profileData.DOB | date:"MM/dd/yyyy")}}</span>
        </h4>
        <h4 class="list-group-item-heading">Gender:
          <span id="profile_gender" class="editable editable-click">{{profileData.gender}}</span>
        </h4>
        <h4 class="list-group-item-heading">Role: {{profileData.role}}</h4>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-text">Address: </h6>
        <h4 class="list-group-item-heading">Line 1:
          <span id="profile_addr1" class="editable editable-click">{{profileData.address.line1}}</span>
        </h4>
        <h4 class="list-group-item-heading">Line 2:
          <span id="profile_addr2" class="editable editable-click">{{profileData.address.line2 || 'N/A'}}</span>
        </h4>
        <h4 class="list-group-item-heading">
          <span id="profile_city" class="editable editable-click">{{profileData.address.city}}</span>,
          <span id="profile_state" class="editable editable-click">{{profileData.address.state}}</span>
          <span id="profile_zip" class="editable editable-click">{{profileData.address.zip}}</span>
        </h4>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-text">Contact: </h6>
        <h4 class="list-group-item-heading">Phone:
          <span id="profile_phone" class="editable editable-click">{{profileData.phone}}</span>
        </h4>
        <h4 class="list-group-item-heading">Email:
          <span>{{profileData.email}}
            <span>
        </h4>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-text">Region/Chapter Information: </h6>
        <h4 class="list-group-item-heading" ng-click="changeChapter()">Primary Chapter:
          <label class="format-chapter-class">{{profileData.Chapter.text}}
            <label>
        </h4>
        <h4 class="list-group-item-heading">Secondary Chapter(s):
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="editChapters()"></span>
          <h6 class="list-group-item-heading format-chapter-class" ng-repeat="Chapters in profileData.Chapters">
            {{Chapters.chapter.text}}
          </h6>
        </h4>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-text">Service Information: </h6>
        <h4 class="list-group-item-heading">Branch:
          <span id="profile_branch" class="editable editable-click">{{profileData.branch}}</span>
        </h4>
        <h4 class="list-group-item-heading">Years of Service:
          <span id="profile_years" class="editable editable-click">{{(profileData.years | number)}}</span>
        </h4>
      </div>
    </div>
    <div class="panel-footer flex-container">
      <a class="btn btn-primary pull-right" ng-click="roleChangeRequest()" style="margin-bottom: 10px;">
        <i class="fa fa-pencil" style="padding-right: 5px;"></i>
        Request Role Change</a>
      <a class="btn btn-primary pull-right" ng-click="roleChangeStatus()" style="margin-bottom: 10px; margin-right: 10px; width:100%;">
        <i class="fa fa-flag" style="padding-right: 5px;"></i>
        Request Status</a>
      <a class="btn btn-primary pull-right" ng-click="changePassword()" style="margin-bottom: 10px; margin-right: 10px; width:100%;">
        <i class="fa fa-key" style="padding-right: 5px;"></i>
        Change Password</a>
      <a class="btn btn-primary pull-right" ng-click="feedBackRequest()" style="margin-right: 10px; width:100%;">
        <i class="fa fa-ticket" style="padding-right: 5px;"></i>
        Give Feedback</a>
    </div>
  </div>
  <!-- end panel -->