<!DOCTYPE html>
<div class="container" ng-init="update()">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">My Profile</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <h6 class="list-group-item-text">User: </h6>
                <h4 class="list-group-item-heading">
                    First:
                    <span editable-text="profileData.name.first" onbeforesave="saveUserData($data, 'name.first')">{{profileData.name.first}}</span>
                    <br /> Last:
                    <span editable-text="profileData.name.last" onbeforesave="saveUserData($data, 'name.last')">{{profileData.name.last}}</span>
                </h4>
                <h4 class="list-group-item-heading">
                    <a href="#" id="user_dob" editable-bsdate="profileData.DOB" e-is-open="opened.$data" e-ng-click="open($event,'$data')" onbeforesave="saveUserData($data, 'DOB')" e-datepicker-popup="dd/MM/yyyy">{{( profileData.DOB | date:"dd/MM/yyyy") || '' }}</a>
                </h4>
                <h4 class="list-group-item-heading">
                    <a href="#" id="user_gender" editable-select="profileData.gender" e-ng-options="s.value as s.text for s in [{ value: 'M', text: 'M'}, {value: 'F',text: 'F'}, {value: 'N/A',text: 'N/A'}]" onbeforesave="saveUserData($data, 'gender')">{{profileData.gender|| ""}}</a>
                </h4>
                <h4 class="list-group-item-heading">{{profileData.role}}</h4>
            </div>
            <div class="list-group-item">
                <h6 class="list-group-item-text">Address: </h6>
                <h4 class="list-group-item-heading">Address 1:
                    <span editable-text="profileData.address.line1" onbeforesave="saveUserData($data, 'address.line1')">{{profileData.address.line1 || ""}}</span>
                </h4>
                <h4 class="list-group-item-heading">Address 2:
                    <span editable-text="profileData.address.line2" onbeforesave="saveUserData($data, 'address.line2')">{{profileData.address.line2 || ""}}</span>
                </h4>
                <h4 class="list-group-item-heading">
                    <span editable-text="profileData.address.city" onbeforesave="saveUserData($data, 'address.city')">{{profileData.address.city || ""}}</span>,
                    <span editable-select="profileData.address.state" e-ng-options="s.name as s.name for s in $root.siteData.states" onbeforesave="saveUserData($data, 'address.state')">{{profileData.address.state || ""}}</span>
                    <span editable-text="profileData.address.zip" onbeforesave="saveUserData($data, 'address.zip')">{{profileData.address.zip || ""}}</span>
                </h4>
            </div>
            <div class="list-group-item">
                <h6 class="list-group-item-text">Contact: </h6>
                <h4 class="list-group-item-heading">
                    <a href="#" id="user_phone" editable-text="profileData.phone" onbeforesave="saveUserData($data, 'phone')">{{ profileData.phone|| "" }}</a>
                </h4>
                <h4 class="list-group-item-heading">
                    <a href="#" id="user_email">{{profileData.email}}</a>
                </h4>
            </div>
            <div class="list-group-item">
                <h6 class="list-group-item-text">Orginization Data: </h6>
                <h4 class="list-group-item-heading" ng-click="changeChapter()">Primary Chapter: {{ profileData.Chapter|| "" }}</h4>
            </div>
            <div class="list-group-item">
                <h6 class="list-group-item-text">Military Data: </h6>
                <h4 class="list-group-item-heading">Military Branch:
                    <span editable-text="profileData.branch" onbeforesave="saveUserData($data, 'branch')">{{profileData.branch || ""}}</span>
                </h4>
                <h4 class="list-group-item-heading">Years of Service:
                    <span editable-number="profileData.years" e-min="0" onbeforesave="saveUserData($data, 'years')">{{profileData.years || ""}}</span>
                </h4>
            </div>
        </div>
        <div class="panel-footer" style="height:55px">
            <a class="btn btn-primary pull-right" ng-click="roleChangeRequest()"><i class="fa fa-pencil" style="padding-right: 5px"></i>Request Role Change</a>
        </div>
    </div>
    <!-- end panel -->

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Role Change Status</h3>
            <a class="btn btn-primary pull-right" ng-click="rcs_show()"><i style="padding-right: 5px"></i>Show</a>
        </div>
        <div class="list-group" ng-show="rcs_status">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Last Updated</h4>
                    </div>
                    <div class="col-md-1">
                        <h4>Current Role</h4>
                    </div>
                    <div class="col-md-2">
                        <h4>Requested Role</h4>
                    </div>
                    <div class="col-md-1">
                        <h4>Status</h4>
                    </div>
                    <div class="col-md-2">
                        <h4>User Comment</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Reviewers Comment</h4>
                    </div>
                </div>
            </div>
            <div class="list-group-item" ng-repeat="request in requests" id="{{request.key}}">
                <div class="row">
                    <div class="col-md-2">
                        {{request.request_updated | date:'MM/dd/yyyy @ h:mma'}}
                    </div>
                    <div class="col-md-1">
                        {{request.current_role}}
                    </div>
                    <div class="col-md-2">
                        {{request.request_role}}
                    </div>
                    <div class="col-md-1">
                        {{request.request_status}}
                    </div>
                    <div class="col-md-2">
                        {{request.user_comment}}
                    </div>
                    <div class="col-md-3">
                        {{request.reviewers_comment}}
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="deleteRequest(request.key)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>