<!-- form ng-submit="vexp.newExpense(vexp.newExpense)"-->
<div ng-controller="ExpenseCtrl">
   
   <!--  Dropdown - Get data from Firebase - dropdown/chapter data -->
   <!--div  class="form-group col-xs-4 ">
       <select   ng-model="selectedchapters"  ng-options="name for name in chapters"  > 
        <option value="">All Chapters</option> 
       </select> 
      
  <pre>{{selectedchapters}}</pre>

  </div-->
  

 
  <script src="expense/scripts/FileLoad.js"></script>
    <!--div class="container-fluid">
      
<form   class="form-group" >
<div   >
    <input  id="upload" type="file" onChange="uploadOnChange(this)"  multiple  class="inputfile" />
    <label for="file">Choose a file</label> 
</div>
<div   >
  
    <input id="filename" type="text"   />
</div>
     
        
	<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple  onChange="uploadOnChange(this)"  accept="image/*"/>
	<label for="file-1">  <span>Choose a file&hellip;</span></label>
  
  
  <div>
 
</div-->
<!--script>
        var storage = firebase.storage();
        var storageRef = firebase.storage().ref();

        var storageRefPic = '';
        var storageloc = 'images/MD_11_10_2016_10_47_55_169_Menuselection.png';
        storageRef.child(storageloc).getDownloadURL().then(function(url) {
           alert("here");
           alert(url);
            $scope.profilepic  = url;
        }).catch(function(error) {
            // Handle any errors
        });

 
</script>

< ion-content>
    <div ng-style="{'background-image': 'url('+pic+')'}">
       <div class="content">
       <img src=profilepic />
       {{ profilepic }}
          <div class="avatar" ng-style="{'background-image': 'url('+profilepic+')'}"></div>
     
       <img src=profilepic />
       <img src="profilepic" alt="Mountain View" style="width:204px;height:228px;">
       
       <pre>{{profilepic}}</pre>

       </div>
    </div>
</ion-content--> 
 
<div class="table-responsive"> 
          <table class="table "   > 
          <thead>
      <tr>
        <th class="text-center">Chapter</th>
        <th>Event Date</th>
        <th>Bill ID</th>
        <th>Bill Amount</th>
        <th>Description</th>       
        <th>Paid</th>
      </tr>
    </thead>
        <tbody class="row pad" data-ng-repeat="list in lists"  ng-click="open(list.BillId)"     >   
   
           <tr>

                 <td>{{list.Chapter}}</td><td>{{list.eventdate}}</td><td>{{list.BillId}}</td><td >{{list.Amount}} </td><td >{{list.Description}}</td>   <td></td>
               </tr>
              
               
             
               
            </tbody>
          </table>
        </div>
        
  
   
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
   </div>