<div class="jumbotron">
  <div ng-show="$root.userData.name.first">
  	<h3>Hello {{$root.userData.name.first}}</h3>
  	<form ng-submit="main.signOut()">
  		<button class="btn btn-primary">Sign out</button>
  	</form>
  </div> 
  <div ng-show="!$root.userData.name.first">
  	<h3>No one Signed in....</h3>
  </div>
</div>
<div>
	<form ng-submit="main.showUsers()">
		<button class="btn btn-primary">Users</button>
		<div ng-repeat="user in main.users">
			<ul>
				<li>{{user.name.first}}</li>
				<li>{{user.name.last}}</li>
				<li>{{user.email}}</li>
			<ul>
	</form>
<div>
