<div>
	Register
	<form ng-submit="mu.register(mu.newUser)">
		<input ng-model="mu.newUser.email" type="email" placeholder="New Email">
		<input ng-model="mu.newUser.password" type="password" placeholder="New Password">
		<button type="submit">Register</button>
	</form>
</div>
<div>
	Sign In
	<form ng-submit="mu.signin(mu.existUser)">
		<input ng-model="mu.existUser.email" type="email" placeholder="Email">
		<input ng-model="mu.existUser.password" type="password" placeholder="Password">
		<button type="submit">Sign in</button>
	</form>
</div>
<div>
	<form ng-submit="mu.currentUserEmail()">
		<button type="submit">Button</button>
		Current user Signed in: {{mu.cu}}
	</form>
</div>
<div>
	Sign out
	<form ng-submit="mu.signout()">
		<button type="submit">Sign out</button>
	</form>
</div>
<div>
	Password Reset
	<form ng-submit="mu.passwordReset(mu.sendUser)">
		<input ng-model="mu.sendUser.email" type="email" placeholder="Email">
		<button type="submit">Send</button>
	</form>
</div>
<div>
	Adding User Data
	<form ng-submit="mu.addUser(mu.uid, mu.testNewUser)">
		<input ng-model="mu.uid" type="number" placeholder="User Id">
		<input ng-model="mu.testNewUser.name" type="text" placeholder="Name">
		<input ng-model="mu.testNewUser.email" type="email" placeholder="Email">
		<input ng-model="mu.testNewUser.birthdate" type="text" placeholder="birthdate">
		<button type="submit">Add User Data</button>
	</form>
</div>
<div>
	Test
	<form ng-submit="mu.showUser(mu.userNumber)">
		<input ng-model="mu.userNumber" type="number" placeholder="User number">
		<button type="submit">submit</button>
	</form>
</div>
<div ng-model="mu.testuser">
	User
	<div>{{mu.testuser.name}}</div>
	<div>{{mu.testuser.email}}</div>
	<div>{{mu.testuser.birthdate}}</div>
</div>