<form ng-submit="si.signInUser(si.user)">
  <div class="form-group ur_format">
    <label for="">Email</label>
    <input ng-model="si.user.email" type="email" class="form-control" placeholder="Email" required>
  </div>
  <div class="form-group ur_format">
    <label for="">Password</label>
    <input ng-model="si.user.password" type="password" class="form-control" placeholder="Password" required>
  </div>
  <div>
    <button type="Submit" class="btn btn-primary ur_format_button">Submit</button>
  </div>
</form>
